<!DOCTYPE html>
<html>
<head>
    <!-- Basic Page Info -->
    <meta charset="utf-8">
    <title>Host scanner - Logs </title>

    <!-- Site favicon -->
    <link rel="apple-touch-icon" sizes="180x180"
          href="{{ url_for("static",filename="vendors/images/apple-touch-icon.png") }}">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{ url_for("static",filename="vendors/images/favicon-32x32.png") }}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{{ url_for("static",filename="vendors/images/favicon-16x16.png") }}">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for("static",filename="vendors/styles/core.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for("static",filename="vendors/styles/icon-font.min.css") }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for("static",filename="src/plugins/datatables/css/dataTables.bootstrap4.min.css") }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for("static",filename="src/plugins/datatables/css/responsive.bootstrap4.min.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for("static",filename="vendors/styles/style.css") }}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-119386393-1');
    </script>
</head>
<body>
{% include 'loader.html' %}
{% include 'includes/header.html' %}
{% include 'includes/sidebar-config.html' %}
{% include 'includes/sidebar-menu.html' %}

<div class="mobile-menu-overlay"></div>

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>Monitoring logs</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Host scanner</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Logs</li>
                            </ol>
                        </nav>
                    </div>

                </div>
            </div>
            <!-- Export Datatable start -->
            <div class="card-box mb-30">
                <div class="pd-20">
                    <h4 class="text-blue h4">Export table into different files format</h4>
                </div>
                <div class="pb-20">
                    <table id="table-logs" class="table hover multiple-select-row data-table-export nowrap">
                        <thead>
                        <tr>
                            <th class="table-plus datatable-nosort"># Count</th>
                            <th class="table-plus datatable-nosort">Host name</th>
                            <th>Status</th>
                            <th>Message</th>
                            <th>Scan date</th>
                        </tr>
                        </thead>
                        <tbody id="data-logs">

                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Export Datatable End -->
        </div>
        {% include 'includes/footer.html' %}
    </div>
</div>
<!-- js -->
<script src="{{ url_for("static",filename="vendors/scripts/core.js") }}"></script>
<script src="{{ url_for("static",filename="vendors/scripts/script.min.js") }}"></script>
<script src="{{ url_for("static",filename="vendors/scripts/process.js") }}"></script>
<script src="{{ url_for("static",filename="vendors/scripts/layout-settings.js") }}"></script>
<script src="{{ url_for("static",filename="src/plugins/datatables/js/jquery.dataTables.min.js") }}"></script>
<script src="{{ url_for("static",filename="src/plugins/datatables/js/dataTables.bootstrap4.min.js") }}"></script>
<script src="{{ url_for("static",filename="src/plugins/datatables/js/dataTables.responsive.min.js") }}"></script>
<script src="{{ url_for("static",filename="src/plugins/datatables/js/responsive.bootstrap4.min.js") }}"></script>
<!-- buttons for Export datatable -->
<script src="{{ url_for("static",filename="src/plugins/datatables/js/dataTables.buttons.min.js") }}"></script>
<script src="{{ url_for("static",filename="src/plugins/datatables/js/buttons.bootstrap4.min.js") }}"></script>
<script src="{{ url_for("static",filename="src/plugins/datatables/js/buttons.print.min.js") }}"></script>
<script src="{{ url_for("static",filename="src/plugins/datatables/js/buttons.html5.min.js") }}"></script>
<script src="{{ url_for("static",filename="src/plugins/datatables/js/buttons.flash.min.js") }}"></script>
<script src="{{ url_for("static",filename="src/plugins/datatables/js/pdfmake.min.js") }}"></script>
<script src="{{ url_for("static",filename="src/plugins/datatables/js/vfs_fonts.js") }}"></script>
<!-- Datatable Setting js -->
<script src="{{ url_for("static",filename="vendors/scripts/datatable-setting.js") }}"></script>
<script src="{{ url_for("static",filename="helper/utils.js") }}"></script>
</body>
</html>
<script>

    $(document).ready(function () {
        isLoggedIn();
        function fetchLogs() {
            $.ajax({
                url: "api/logs",
                method: 'GET',
                data: {},
                dataType: 'json',
                success: function (result) {
                    setLogsContent(result)
                }
            })
        }

        function setLogsContent(arr_obj) {
            var data = "";
            for (var i = 0; i < arr_obj.length; i++) {
                data += `<tr>
                       <td>${i + 1}</td>
                       <td>${arr_obj[i].hostname}</td>
                       <td><span class="alert alert-xs ${arr_obj[i].status == "Connected" ? 'alert-success' : 'btn-danger'}">${arr_obj[i].status}</span></td>
                                            <td>${arr_obj[i].message}</td>
                                            <td>${formatDate(arr_obj[i].last_scan_date)}</td>
                                        </tr>`;
            }
            $("#data-logs").html(data);
            $("#table-logs").DataTable();
        }


        {#loadLogs();#}
        function loadLogs(){
            let table = $.ajax({url: 'http://localhost:5000/api/logs', dataType: 'json',})
                .done(function (data) {
                    datatable_configs.columns =  [
                            {"data": 'id'},
                            {"data": 'hostname'},
                            {"data": 'status'},
                            {"data": 'message'},
                            {"data": 'last_scan_date',
                            "render":function(data){
                                return formatDate(data.replaceAll(" GMT",""))
                            }}]

                    datatable_configs.aaData = data;
                    $("#table-logs").dataTable(datatable_configs)
                })
            }
            loadLogs();
    })
</script>
